#grid{
    display: grid; 
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(auto,auto);
}

@media screen and (max-width:990px) {
    #grid{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width:665px) {
    #grid{
        grid-template-columns: repeat(1,1fr);
    }
}